.mainView {
    display: flex;
    background-color: lightgray;
}

.mapStyle {
    background-color: #aac6f3;
    color: white;
    border-width: 4px;
    border-style: solid;
    border-color: black;
}

.svgStyle {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.listStyle {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
 }

.h1Style {
    /* background-color: #2a5599;
    color: white; */
    padding: 5px;
}

.boundary {
    stroke: black;
}

.textboxStyle {
    background-color: lavender;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font: "12px sans-serif";
    padding: "2px";
    position: "absolute";
    color: 'black';
}

.legendStyle {
    background-color: lavender;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1.2em;
}

.sliderStyle {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    vertical-align: middle;
}